footer {
    margin-top: 20px;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
footer span {
    font-size: 13px;
    color: #555;
}
footer span:after {
    content: '，';
}
footer span:last-child:after {
    content: '';
}
footer span a {
    border-bottom: 1px solid #fff;
}
footer span a:hover {
    border-color: var(--theme-color);
}
