footer {
    margin-top: 20px;
    background: #fff;
}

footer .utterances {
    max-width: calc(100% - 50px);
}

footer .site-intro {
    margin-top: 20px;
    padding: 25px;
}

footer .site-intro {
    text-align: center;
}
footer .site-intro span {
    font-size: 13px;
}
footer .site-intro span:after {
    content: 'ï¼Œ';
}
footer .site-intro span:last-child:after {
    content: '';
}
footer .site-intro span a {
    border-bottom: 1px solid #999;
}
footer .site-intro span a:hover {
    border-color: var(--theme-color);
    transition: .3s;
}
