header
    background-color var(--page-color)
    position fixed
    top 0
    left 0
    right 0

    .container
        display: flex
        justify-content: space-between
        margin auto
        padding-top 12px
        padding-bottom 12px
        max-width 1000px
        z-index 9999

        .title
            font-size: 20px
            font-family Consolas
            display flex
            align-items center

            .site-icon
                width 25px
                height 25px
                margin-right 10px


        nav
            display: flex;
            justify-content: space-around;
            align-items center

            a
                margin-left 25px
                font-size $font-size
                text-align right


                &:last-child
                    border none