header {
    margin-bottom: 20px;
    background: white;
}

.header-background {
    position: relative;
}

.header-background-img {
    width: 100%;
    height: 130px;
}

.header-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .header-background-filter {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

header .header-background-filter::before {
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: -webkit-linear-gradient(bottom, #fff, rgba(255, 255, 255, 0) 100%);
}

header .intro {
    position: absolute;
    bottom: 0;
    padding: 25px;
    display: flex;
    z-index: 2;
}

header .intro section {
    padding-left: 14px;
}

header .intro .avator {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

header .intro .site-title {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-family: Consolas, serif;
    color: #fff;
}

header .intro .hitokoto {
    line-height: 20px;
    font-size: 12px;
    color: #777;
}

header nav {
    padding: 0 25px;
    line-height: 3;
    border-bottom: 1px solid #dee2e6;
}

header nav a {
    margin-right: 15px;
    font-size: 14px;
    color: #333;
}

