html {
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}

body {
    font-size: 14px;
    line-height: 2;
    color: #555;
}

.background {
    background: var(--body-background);
    background-size: cover;
    filter: blur(30px);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
}

.container {
    background: #f9f9f9;
    max-width: 780px;
    margin: 60px auto 100px;
    overflow: hidden;
}

#backTop {
    position: fixed;
    top: calc(100vh - 100px);
    margin-left: 800px;
    width: 20px;
    height: 30px;
    padding: 5px 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 6px 4px rgb(0, 0, 0, 0.05);
    transition: width .5s;
    opacity: .5;
    visibility: hidden;
}

#backTop img {
    width: 20px;
    height: 20px;
}

#backTop .tip {
    display: none;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

#backTop:hover {
    justify-content: left;
    width: 72px;
    opacity: .9;
    transition: width .5s;
}

#backTop:hover .tip {
    display: block;
}