<%
const archives = {}
// 先按照category分类
site.posts.forEach(function (post) {
    if (post.categories.length > 0) {
        if (archives[post.categories.data[0].name]) {
            archives[post.categories.data[0].name].push(post)
        } else {
            archives[post.categories.data[0].name] = [post]
        }
    } else {
        if (archives['Others']) {
            archives['Others'].push(post)
        } else {
            archives['Others'] = [post];
        }
    }
})
// 再按照时间排序
Object.keys(archives).forEach(function (key) {
    archives[key].sort(function (a, b) {
        return b.date - a.date
    })
})

%>

<div class="archive">
    <% Object.keys(archives).forEach(function (key){ %>
        <h2><%= key %></h2>
        <ul>
            <% for (let index = 0; index < archives[key].length; index++) { %>
                <li>
                    <span class="time"><%- date(archives[key][index].date, 'YYYY-MM-DD') %></span>
                    <a class="title"href="<%- url_for(archives[key][index].path)%>"><%= archives[key][index].title %></a>
                </li>
            <% } %>
        </ul>
    <% }) %>
</div>