<% site.posts.sort('-date').forEach(function(post){ %>
    <div class="" style="padding-bottom: 5px; margin-bottom: 10px; border-bottom: 1px dashed #eee">
        <% if (post.title.length === 0) post.title = "[No Title]" %>
        <time style="display: block; font-size: 14px; font-style: italic; color: #aaa;"><%- date(post.date, 'LL') %></time>
        <a href="<%- url_for(post.path) %>"><%= post.title %></a>
    </div>
<% }) %>

