.index
    .post-item
        padding-top 20px
        padding-bottom 20px
        border-bottom 1px solid #333

        .post-title
            &:before
                content ''
                padding-right 0

.pagination
    margin-top 40px
    margin-bottom 40px
    display flex
    justify-content space-between

    a
        font-size $sub-font-size
        display inline-block
