.index {
}

.index article {
    padding: 16px 25px;
    border-bottom: 1px solid #f1f2f4;
}

.index .article-title {
    font-size: 18px;
}

.index .article-content {
    color: #555;
    line-height: 1.8;
}