$index-post-intro-font-size = 12px
$index-post-intro-color = #b6b6b6

#index
    margin auto
    max-width $content-max-width

    .post
        padding-top 20px
        padding-bottom 20px
        border-bottom 1px solid #333

        .title
            &:before
                padding-right 0
                content ''

        .content
            padding-bottom 20px

        .intro
            display flex
            justify-content left
            font-size $index-post-intro-font-size
            color $index-post-intro-color

            div
                display flex
                align-items center
                margin-right 20px

                svg
                    margin-right 5px

                a
                    margin-right 4px
                    color $index-post-intro-color

                    &:hover
                        color $theme-color

            .categories a
                border-bottom 1px dashed $index-post-intro-color

                &:hover
                    border-color $theme-color

            .tags a
                &:before
                    content '#'

    .pagination
        margin-top 40px
        margin-bottom 40px
        display flex
        justify-content space-between

        a
            font-size $small-font-size
            display inline-block
