.article-header {
    padding: 16px;
}

.post .article-content {
    padding: 16px;
    font-size: 15px;
}

.article-header .article-meta {

}

.article-meta-box {
    position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid #dee2e6;
}

.article-meta-box:after {
    content: "";
    position: absolute;
    left: 0;
    width: 48px;
    height: 2px;
    bottom: -2px;
    background-color: var(--theme-color) !important;
}
