#post
    margin auto
    max-width $content-max-width

    .title
        &:before
            padding-right 0
            content ''

    .intro
        margin-bottom 40px
        display flex
        justify-content left
        font-size $index-post-intro-font-size
        color $index-post-intro-color

        div
            display flex
            align-items center
            margin-right 20px

            svg
                margin-right 5px

            a
                margin-right 4px
                color $index-post-intro-color

                &:hover
                    color $theme-color

        .categories a
            border-bottom 1px dashed $index-post-intro-color

            &:hover
                border-color $theme-color

        .tags a
            &:before
                content '#'

    a
        border-bottom 1px solid white

        &:hover
            border-color $theme-color