<div class="container">
    <span>站点托管于<a href="https://github.com/0914xc/0914xc.github.io">GitHub</a></span>
    <span>由 <a href="https://hexo.io/zh-cn/">Hexo</a>强力驱动</span>
    <span>目前总计<a href="#"><%- totalcount(site) %></a>字</span>
    <span><%= theme.icp %></span>
</div>