a {
    color: #3377BB;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

/*修正图片缩小后变模糊的问题*/
img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    user-select: none; /*图片禁止鼠标选中*/
    -moz-user-select: none;
}

/*文字超过一行省略号显示*/
.text-overflow-hidden {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*平滑滚动*/
html, body {
    scroll-behavior: smooth;
}