@charset "utf-8"

$font-size = 16px
$mid-font-size = 14px
$sub-font-size = 12px

$main-color = #30d158

$page-color = #ffffff
$font-color = #00000
$sub-font-color = #b6b6b6

$dark-page-color = #131314
$dark-font-color = #ffffff
$dark-sub-font-color = #b6b6b6

:root
    --page-color $page-color
    --font-color $font-color
    --sub-font-color $sub-font-color

[data-theme="dark"]
    --page-color $dark-page-color
    --font-color $dark-font-color
    --sub-font-color $dark-sub-font-color

@import "common/base.styl"
@import "common/markdown.styl"
@import "common/highlight.styl"
@import "common/post.styl"

@import "layout/header.styl"
@import "layout/main.styl"
@import "layout/footer.styl"

@import "pages/index.styl"
@import "pages/page.styl"