*, *:before, *:after {
    box-sizing: border-box;
}

html
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size $font-size
    line-height 1.6
    -webkit-text-size-adjust 100%
    letter-spacing 1px
    word-break break-all

body
    color: var(--font-color)
    background-color var(--page-color)

a
    text-decoration none
    cursor pointer
    text-align center
    color white

    &:hover
        color $main-color

main
footer
    margin auto
    max-width 1000px
