*, *:before, *:after {
    box-sizing: border-box;
}

html
    background-color $background-color
    font-family $font-family
    font-size $font-size
    line-height $line-height
    letter-spacing 1px
    word-break break-all

body
    margin auto
    max-width $max-width
    color: white

a
    text-decoration none
    cursor pointer
    text-align center
    color white

    &:hover
        color $theme-color

