h1&:before
h2&:before
h3&:before
h4&:before
h5&:before
h6&:before
    display inline-block
    padding-right 8px
    content "#"
    color $main-color

blockquote
    padding 1px 20px
    margin 22px 0
    color white
    background-color #292a2d
    border-left 4px solid $main-color

strong
    color $main-color

img
    max-width 100%

table
    margin 20px 0
    width 100%
    border-collapse collapse
    border-spacing 0
    border 1px solid var(--border-color)
    table-layout fixed
    word-wrap break-all
    vertical-align baseline

th
    font-weight 600

td
    border-bottom-width 1px

td, th
    border-bottom 1px solid var(--border-color)
    border-right 1px solid var(--border-color)

li
    line-height 2.5

.video-container
    margin auto
    width 100%
    height 350px

.video-container > iframe
    width 100%
    height 100%
    object-fit fill

.katex
    font-size 1rem
    text-indent 0
    text-rendering auto